* {
   box-sizing: border-box;
}

.card {
   width: 30%;
}

.wrapper {
   max-width: 800px;
   margin: 100px auto 0;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.platform {
   margin-top: 10px;
   display: flex;
   justify-content: center;
   gap: 15px;
}

.platform button {
   cursor: pointer;
   border: 0;
}

.platform button:hover {
   font-weight: 700;
}

.platform #numberPage:hover {
   font-weight: unset;
}